@import url(../vendor/normalize.css);
@import url(../vendor/fonts/inter.css);

@import url(../blocks/root/root.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/content/content.css);

@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__figure/lead__figure.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__capture/lead__capture.css);

@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/intro__title.css);

@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__image/photo-grid__image.css);
@import url(../blocks/photo-grid/__list/photo-grid__list.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__list/footer__list.css);
@import url(../blocks/footer/__list-item/footer__list-item.css);
@import url(../blocks/footer/__link/footer__link.css);




.body {
    background-color: #2A2C2F;
}


.header__lang-list {
    position: relative;
    float: right;
    list-style-type: none;

}

.header__lang-item {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
}

.header__lang-link {
    color: #fff;
    font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
	text-align: right;
	text-decoration-line: underline;
}
.header__lang-link_active {
	text-decoration: underline;
}



